/cache/
/Ang-Liet.php
/Klausimai.txt
/LKI kas neveikia.docx
/index - zodynams.php
/info.txt
/index2.php
/config/rastija_owl_v3_2015_07_30 - Copy.owl
/config/rastija_owl_v3_2015_07_30VM - Copy.owl
/Info/

nbproject/*
/run.bat